
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
@*<form asp-action="Login" asp-controller="Account">
    <div>
        Username:<input type="text" asp-for="Username" />
    </div>
    <div>
        Password:<input type="password" asp-for="Password" />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>*@

@using (Html.BeginForm("UserLogin","Account", method: FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Username, new { @class = "control-label" }):
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.Password, new { @class = "control-label" }):
            @Html.PasswordFor(m => m.Password, new { @class = "form-control"})
        </div>
        <div>
            <input type="submit" />
        </div>
    }

